<div>
  Disassembled:
  <table>
    <tr>
      <th></th>
      <th>Address</th>
      <th>Hex</th>
      <th>Instruction</th>
    </tr>
    {% for instruction in disassembled.instructions %}
      <tr>
          <td>
            {% if instruction.current %}
              *
            {% else %}
              &nbsp;&nbsp;
            {% endif %}
          </td>
          <td>{{instruction.address}}</td>
          <td>{{instruction.hex_str}}</td>
          <td>{{instruction.instruction_text}}</td>
      </tr>
    {% endfor %}
  </table>
</div>
