<!html>
<head>
    <title>By7e Emulator</title>
</head>
<body>
{% include "_instruction.html" %}
{% include "_registers.html" %}
{% include "_flags.html" %}
{% include "_disassembled.html" %}
{% include "_stack.html" %}
{% include "_memory.html" %}
{% include "_stdout.html" %}
{% if "step" in available_actions %}
<div>
  <form action="/" method="POST">
    <button type="submit">Step</button>
  </form>
</div>
{% endif %}
<div>
  <br /><br /><br /><br /><br /><br />
  <form action="/reset" method="POST">
    <button type="submit">Reset</button>
  </form>
</body>
